.Layout {
  padding: 0;
  height: 100vh;
  background: url('../../assets/backgrond_shrubs.png') #f5e1b7;
  background-repeat: repeat-x;
  background-position: 0 bottom;

  animation: animatedBackground 40s linear infinite;
}

@keyframes animatedBackground {
    from { background-position: 0 bottom; }
    to { background-position: 512px bottom; }
}
